@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <h1 class="display-2">We are Group Beta</h1><br />
    <img class="fit-picture" src="/img/beta1.jpg" alt="Sofas" width="400 px" /><br /><br />
    <p>Created By: <b>Beta Group<p style="color:brown"> (Hemn - Sandeep - Amanjit)</p>

</div>
