@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <marquee behavior="scroll" direction="left"><b>CYB206 Web Application Security - Winter 2024</b></marquee>
    <h1 class="display-2">Elegant Sofas For Sale</h1><br />
    <img class="fit-picture" src="/img/sofa.jpg" alt="Sofas" width="700 px" /><br /><br />
    <p>Created By: <b>Beta Group<p style="color:brown"> (Hemn - Sandeep - Amanjit)</p>
             

</div>
