@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-2">Beta Group For Furniture</h1><br />
    <img class="fit-picture" src="/img/sofa.jpg" alt="Sofas" width="700 px" /><br /><br />
    <p>Created By: <b>Beta Group<p style="color:brown"> (Hemn - Sandeep - Amanjit)</p>

</div>
